<h2>New Task</h2>
<div>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title, required: true %>
    <%= f.input :details %>
    <div class="actions">
      <%= f.submit "Create Task", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="mt-4">
  <%= link_to '<i class="fa-solid fa-rotate-left"></i> Back to list'.html_safe, tasks_path %>
</div>